@tailwind base;
@tailwind components;
@tailwind utilities;

.content-fit {
  @apply
  flex flex-col 

  w-full
  
  items-center 
  justify-center 
  
  p-4 
  gap-8
}

.subcontent-full {
  @apply
  h-full
  content-fit
}

.content-full {
  @apply
  content-fit
  h-screen
}

.super-button {
  @apply text-gray-900 
    bg-gradient-to-r 
        from-yellow-100 
        to-amber-200 hover:bg-gradient-to-l 
            hover:from-yellow-100 
            hover:to-amber-200 
    font-medium 
    text-lg;
}

.editorial-header {
  @apply 
  font-extrabold
  text-4xl;
}

.editorial-body {
  @apply font-normal
    text-medium 
    md:text-lg 
    text-justify 
    self-center;
}

.radio-item {
  @apply m-0
    gap-2
    min-w-full
    rounded-md
    bg-content2/50
    inline-flex
    justify-start
    cursor-pointer
    data-[selected=true]:bg-content4;
}

.border-frame {
  @apply border-medium
    rounded-small 
    border-default-200;
}

.main-card {
  @apply h-fit 
    w-full 
    p-0 sm:p-2;
}

.card-action-footer {
  @apply
  flex 
  flex-col-reverse 
  sm:flex-row 
  justify-end 
  gap-3
}

#check + #text-loader {
  @apply 
  bg-gradient-to-r 
  from-warning-300 
  to-primary 
  bg-clip-text 
  text-transparent;
}

.apa-format {
  @apply
  /* Width */
  w-full
  lg:w-[816px]

  /* Padding */
  p-2
  sm:p-24

  /* Border */
  rounded-md
  border-1
  border-content2
}